*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body{
    background-color: #181419;
    color:white;
}

/* Header Escritorio  */
.header{
    background-color:#9f3647;
    color:#ffffff;
    height: 10vh;
    position:sticky;
    top: 0;
    z-index:10;
    .navegacion{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left:40px;
        margin-right: 40px;
        padding: 1.5rem 0;
        .Logo{
            text-decoration: none;
            color: #ffffff;
            font-weight: 700;
            font-size: 1.2rem;
            align-items: center;
            svg{
                height: 30px;
                width: 20px;
                align-items: center;
            }
        }
        .BarradeNavegacion{
            list-style: none;
            display: flex;
            align-items: center;
        }

        .listaItem{
            margin-right:20px;
        }

        .linkNav{
            text-decoration: none;
            color:#ffffff;
            font-weight: 700;
            font-size: 1.1rem;
            padding: 0.5rem 1rem;
            transition: transform 0.3s, box-shadow 0.3s;
            &:hover {
                transform: scale(0.95);
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
                border-radius: 5px;
            }
        }
        .linkNav.iniciarSesion {
            background-color: #181419;
            color: white;
            border-radius: 5px;
                     transition: transform 0.3s, box-shadow 0.3s;
                     &:hover {
                         background-color: #9f3647;
                     }
                }
            }
           
        }
        .Logo:hover{
            scale: 1.2;
            transition: 0.5s;
        }

        /* Header movil */
        
    /* Portada, computadora */
        .Portada{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 100%;
            height: 90vh;
            background-image: url(banner-bg.jpg);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        /* Portada, el texto */
        .Portada h1{
            margin: 0% 20% 0% 20%;
            
            font-size: 3.5rem;
            text-align: center;
        }
        .Portada h2{
            padding-top: 2%;
            margin: 0% 34% 0% 34%;
            font-size: 2rem;
            text-align: center;
            font-weight: normal;
        }
        .Portada a{
            align-items: center;
            text-decoration: none;
            font-size: 20px;
            color: white;
            background-color: #9f3647;
            border-radius: 10%;
            padding: 10px;
            margin-top: 2%;
        }

        /* Buscador */
        .Buscador{
            display: flex;
            height: 50vh;
            flex-direction: column;
            align-items: center;
            padding-top: 10vh;
            h1{
                font-size: 2.5rem;
            }
            .buscadorPeliculas{
                padding-top: 7vh;
            }
            .buscar{
                color: white;
            }
        }

        .separador1{
            margin-top: 20vh;
            border: 1px solid #9f3647;
            width: 80%;
        }

        /* Tendencias */
        .Tendencias{
            h3{
                text-align: center;
                font-size: 2.5rem;
            }
            .contenedorTendencias {
                margin-top: 5vh;
                display: grid;
                justify-content: center;
                grid-template-columns: 200px 200px 200px 200px; 
                grid-auto-rows: 300px; 
                gap: 5%;
                .item, a{
                    display: flex;
                    img{
                        border-radius: 3%;
                    }
                }
            }

        }
        .botones{
            padding-top: 350px;
            padding-bottom: 50px;
            display: flex;
            justify-content: center;
            .btn-danger{
                margin: 15px;
            }
        }
        .separador{
            border: 1px solid #9f3647;
            width: 80%;
            margin-left: 10%;

        }
        h2{
            text-align: center;
            padding-top: 20px;
        }
        .contenedorA{
            display: flex;
            justify-content: center;
            padding-top: 30px;
            padding-bottom: 30px;
        }
        .wrapper{
            max-height: 300px;
            display: flex;
            justify-content: center;
            overflow-x: auto;
            padding-left: 50%;
            width: 80%;
        }
        .wrapper::-webkit-scrollbar{
            width: 5px;
        }
        
        .wrapper::-webkit-scrollbar-thumb{
            background: #9f3647;
        }

        .wrapper .itemw{
            padding-bottom: 20px;
            min-width: 150px;
            height: 200px;
            line-height: 110px;
            text-align: center;
            margin-right: 2px;
            display: flex;
            img{
                border-radius: 10px;
            }
        }

        .footer{
            background-color:#9f3647;
            color:#ffffff;
            height: 15vh;
            display: flex;
            justify-content: center;
            align-items: center;
            .listaNav{
                list-style: none;
                display: flex;
                align-items: center;
                .listaItem{
                    margin-left:20px;
                    .linkNav{
                        text-decoration: none;
                        color:#ffffff;
                        font-weight: 700;
                        font-size: 1.2rem;
                    }
                    .administradorPeliculas{
                        background-color: #181419;
                        color: white;
                        padding: 0.5rem 1rem;
                        border-radius: 5px;
                    }
                }
            }
            .flechaArriba{
                position: fixed;
                bottom: 20px;
                right: 20px;
                color: white;
                cursor: pointer;
            }
        }


        @keyframes show{
            from {
                opacity: 0;
                scale: 25%;
            }
            to {
                opacity: 1;
                scale: 100%;
            }
        }

        @keyframes show2{
            from {
                opacity: 0;
                scale: 25%;
            }
            to {
                opacity: 1;
                scale: 100%;
            }
        }


        img, .Buscador ,.contenedorA, .botones, .separador{
            view-timeline-name:  --image;
             view-timeline-axis: --image;

             animation-timeline: --image;
             animation-name: show;

             animation-range: entry 40% cover 50%;
             animation-fill-mode: both;
        }

        .Portada{
            view-timeline-name:  --image;
             view-timeline-axis: --image;

             animation-timeline: --image;
             animation-name: show;
        }

        .IniciarSesion, .Registro{
            background-image: url(peliculas/fondo1.jpg);
        }
        
        .headerRegistrarse{
            padding-top: 5px;
        }
        .headerRegistrarse .Logo{
            color: white;
            text-decoration: none;
            padding: 15px;
        }
        .headerRegistrarse .Logo:hover{
            scale: 1.2;
            transition: 05s;
        }



        .Registro .main, .IniciarSesion .main{
            border: solid white 1px;
            background-color:rgb(42, 42, 42);
            width: 35%;
            margin:0 auto;
            border-radius: 5px;
            padding: 30px 20px;
            display: flex;
            flex-direction:column;
            justify-content: center;
            align-items: center;
            height: 90vh;
            font-size:1.2rem;
            .tituloRegistrarse{
                font-size: 2.5rem;
                font-weight: 700;
                margin-bottom: 30px;
            }

            form{
                width: 100%;
                padding:40px;
                input:not(.check,.boton),select{
                    width: 100%;
                    margin-bottom: 10px;
                    height: 40px;
                    padding: 0px 20px;
                    font-size: 1.2rem;
                    border-radius: 20px;
                    border: 2px solid #ffffff;
                    background-color: #5c5a5a;
                    outline: none;
                    color:#beb7b7;
                }
              
                .terminos{
                    font-size: 1rem;
                    display: flex;
                    align-items: center;
                    margin-bottom: 20px;
                    .textoCheck{
                        margin-left: 20px;
                    }
                }
                .boton{
                    width: 90%;
                    box-sizing: content-box;
                    background-color:#9f3647;
                    border: 2px solid #9f3647;
                    color: #ffffff;
                    padding: 1rem 1rem;
                    border-radius: 5px;
                    font-size: 1rem;
                    font-weight: 500;
                   
                }
                .ayuda{
                    margin-top:40px;
                    font-size: 1rem;
                    text-decoration: none;
                    color: #ffffff;
                    font-weight:400;
                   
                }
            }
           
        }


        @media (max-width: 768px) {
            .header{
                height: initial;
                .navegacion{
                    margin-left:10px;
                    margin-right: 10px;
                    flex-direction: column;
                    row-gap: 20px;
                    .Logo{
                        font-size: 1.2rem;
                        font-weight:700;
                    }
                    .BarradeNavegacion{
                       
                        padding:initial;
                        .listaItem{
                            .linkNav{
                                font-weight: 400;
                                margin-right: initial;
                                font-size: 1rem;
                                padding: 0.2rem;
                                
                            }
                          
                        }
                    }
                }
            }
            /* Portada, movil */
            .Portada h1{
                font-size: 40px;
            }
            .Portada h2{
                margin: 0% 20% 0% 20%;
                font-size: 1rem;
            }
            .Portada a{
                font-size: 20px;
                padding: 10px;
                margin-top: 2%;
            }
            .Buscador{
                display: flex;
                height: 50vh;
                flex-direction: column;
                align-items: center;
                padding-top: 3vh;
                h1{
                    font-size: 1.4rem;
                }
                .buscadorPeliculas{
                    padding-top: 7vh;
                }
            }
            .separador1{
                margin-top: 20vh;
                border: 1px solid #9f3647;
                width: 80%;
            }

            .Tendencias{
                h3{
                    text-align: center;
                    font-size: 1.5rem;
                }
                .contenedorTendencias {
                    margin-top: 30px;
                    display: grid;
                    justify-content: center;
                    grid-template-columns: 430px; 
                    grid-auto-rows: 600px;
                    gap: 40px;
                    .item{
                        img{
                            border-radius: 3%;
                        }
                    }
                }
    
            }
            .botones{
                padding-top: 40px;
                padding-bottom: 30px;
            }

            .footer{
                height: initial;
                padding-top:15px;
                padding-bottom: 20px;
                .listaNav{
                    flex-direction: column;
                   
                    row-gap: 15px;
                    .listaItem{
                        
                        .linkNav{
                            font-size: 1rem;
                        }
                        .administradorPeliculas{
                            padding: 0.5rem 0.8rem;
                        }
                    }
                }
            }

            /* Seccion de Inicio de Sesion */

            


                form{
                    width: 100%;
                    padding:40px;
                    input:not(.check,.boton),select{
                        width: 100%;
                        margin-bottom: 10px;
                        height: 40px;
                        padding: 0px 20px;
                        font-size: 1.2rem;
                        border-radius: 20px;
                        border: 2px solid #9f3647;
                        background-color: #5c5a5a;
                        outline: none;
                        color:rgb(255, 255, 255);
                    }
                  
                    .terminos{
                        font-size: 0.8rem;
                        display: flex;
                        align-items: center;
                        margin-bottom: 20px;
                        .textoCheck{
                            margin-left: 10px;
                        }
                    }
                    .boton{
                        width: 87%;
                        box-sizing: content-box;
                        background-color:#9f3647;
                        border: 2px solid #9f3647;
                        color: #ffffff;
                        padding: 1rem 1rem;
                        border-radius: 5px;
                        font-size: 1rem;
                        font-weight: 500;
                       
                    }
                    .ayuda{
                        margin-top:40px;
                        font-size: 1rem;
                        text-decoration: none;
                        color: #787878;
                        font-weight:400;
                       
                    }
                }
               
            }

            /* Detalles */
            .mainDetalle{
    
                .detalle{
                    height: 75vh;
                    padding-top:50px;
                    background-image: url(peliculas/dune\,\ fondo.jpg);
                    background-size: cover;
                    .contenedorDetalle{
                        width:75%;
                        margin: 0 auto;
                        display: flex;
                        justify-content: center;
                        column-gap: 60px;
                        img{
                          border-radius: 20px;
                        }
                        .textoDetalle{
                            padding-top: 10%;
                            h1{
                                font-size: 2.2rem;
                                font-weight: 700;
                            }
                            h2{
                                margin-top:20px;
                            }
                            .contenedorCreditos{
                                margin-top:40px;
                                display: flex;
                                justify-content:space-between;
                            }
                        }
                    }
                    
                    
                   
                }


                .trailer{
                    padding-top:150px;
                    padding-bottom: 100px;
                    width:75%;
                    margin: 0 auto;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    column-gap: 70px;
                    .contenedorInfo{
                        .redes{
                            margin-bottom: 20px;
                            ul{
                                list-style: none;
                                display: flex;
                                column-gap: 20px;
                                li{
                                    a{
                                        text-decoration: none;
                                        color: #ffffff;
                                        font-size: 2.5rem;
                                        margin-right: 50px;
                                    }
                                }
                              
                            }
                        }
                        .info{
                            table{
                                width: 100%;
                                tr{
                                    td{
                                        font-size: 1.2rem;
                                        padding: 10px 40px;
                                    }
                                    th{
                                        font-size: 20px;
                                    }
                                }
                            }
                        }
                    }
                }
            
            }

